cffi==1.17.1
chipwhisperer==6.0.0
configobj==5.0.9
cryptography==45.0.3
Cython==3.1.1
ECPy==1.2.5
fastdtw==0.3.4
libusb1==3.3.1
numpy==1.26.4
pycparser==2.22
pyserial==3.5
setuptools==80.9.0
tqdm==4.67.1
